

.loginmainDiv {
    background: #5448fa;
    padding: 45px 0 70px 0;
    position: relative;
    width: 100%;
    flex: 1 0 auto;
	align-items: center;
	display: flex;
}

a.forgetTxtLogin{color: #5448fa !important; font-weight: 600;}
a.forgetTxtLogin:hover{color: #5448fa !important;}


h3.loginTitle{font-size: 20px;
    color: #1e1e2f;
    margin-bottom: 25px;
    font-weight: 400;
    text-align: center;}

.loginBox{max-width: 600px; background: #fff; margin: 0 auto; width: 100%; padding: 15px; border-radius: 10px; box-shadow:0 0 8px 0px #13c8c8;}
.adminLogo {margin-bottom: 15px; text-align: center;}
.loginBox h3.adTitle {
    font-weight: 500 !important;
    text-align: left;
    font-size: 16px;
	margin: 0;}

.loginBox .fieldSec{}
.fieldSec input[type="text"]{border:1px solid #d3d3d3;
background: #fff;
border-radius: 2px;
font-size: 16px;
padding: 12px 15px;
height: 52px;}

.fieldSec input[type="password"]{border:1px solid #d3d3d3;
background: #fff;
border-radius: 2px;
font-size: 16px;
padding: 12px 15px;
height: 52px;}

.fieldSec input[type="submit"]{background: #10121f; border: none;
border-radius: 2px; font-size: 17px; padding: 12px 15px;}


.btn-primary:not(:disabled):not(.disabled):active{background: #000;}
.fieldSec input.btn-primary:focus[type="submit"]{box-shadow: none;}
.btn-primary:not(:disabled):not(.disabled):active:focus{box-shadow: none;}





